@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.container{
    background-color: #ECF2FF;
    display: flex;
    min-height: 100vh;
}
.sidebar{
    background-color: #D3CEDF;
    width: 250px;
}
.content{
    background-color: #ECF2FF;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/* sidebar-items */
.menu-item{
    background-color: #fff;
    width: 180px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}
.menu-item:hover{
    background-color: #F6F1F1;
}
.active-menu{
    background-color: #F6F1F1;
}
.menu-icon{
    height: 20px;
}
.menu-text{
    margin-left: 5px;
}

/* bottom-navbar */
.bottom-navigation-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #D3CEDF;
    display: none;
}
.bottom-menu-icon{
    background-color: #ECF2FF;
    margin: 5px;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
}
.bottom-menu-icon:hover{
    background-color: #F6F1F1;
}
.bottom-menu-icon-active{
    background-color: #F6F1F1;
}

/* main-content */
.content-items img{
    width: 70%;
    margin-top: 30px;
}
.content-items p{
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
}

/* menu-page */
.menu-item-food{
    margin-top: 30px;
    font-size: 15px;
}
.menu-item-food .food-img{
    width: 300px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu-item-food p{
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* drinks-page */
.drink-item{
    margin-top: 30px;
    font-size: 15px;
}
.drink-item .drink-img{
    width: 300px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.drink-item p{
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}


/* contact-page */
#contact{
    padding: 20px 30px;
}

#contact .contact-row{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    width: 100%;
}
#contact .sub-heading{
    margin-left: 50px;
    margin-top: 20px;
    letter-spacing: 1px;
}

#contact .contact-row .contact-left{
    flex-basis: 50%;
    min-width: 100%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,20%);
    border-radius: 4px;
    padding: 30px;
    margin-left: 50px;
}

#contact .contact-row .contact-left .icon-box{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 30px 0;
}

#contact .contact-row .contact-left .icon-box .icon i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #153448;
    text-align: center;
    line-height: 47px;
    font-size: 20px;
    color: #153448;
    transition: 0.5s;
}

#contact .contact-row .contact-msg input,
#contact .contact-row .contact-msg textarea{
    display: block;
    width: 100%;
    margin: 25px 0;
    font-size: 15px;
    font-weight: 500;
    color: #525252;
    padding: 10px 20px;
    border: 2px solid lightgray;
    border-radius: 2px;
    outline: none;
    resize: none;
    transition: 0.5s;
}

#contact .contact-row .contact-msg input:focus,
#contact .contact-row .contact-msg textarea:focus{
    border: 2px solid #153448;
}

#contact .contact-row .contact-msg input[type=submit]{
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

#contact .contact-row .contact-msg input[type=submit]:hover{
    background-color: #153448;
    color: #f7f7f7;
    border: #153448;
}


/* media-query */
/* Small Devices  */
@media screen and (max-width: 600px){
    .sidebar{
        display: none;
    }
    .bottom-navigation-bar{
        display: flex;
        justify-content: space-around;
    }
    .content-items p{
        text-align: center;
        font-size: 15px;
        padding: 5px 10px;
        letter-spacing: 1px;
    }
}

 /* Normal Devices  */
@media screen and (min-width: 601px) and (max-width: 768px){
    .sidebar{
        display: none;
    }
    .bottom-navigation-bar{
        display: flex;
        justify-content: space-around;
    }
    .content-items p{
        text-align: center;
        font-size: 15px;
        padding: 8px 20px;
        letter-spacing: 1px;
    }
}

/* Tablets Devices  */
@media screen and (min-width: 769px) and (max-width: 992px){
    .sidebar{
        display: none;
    }
    .bottom-navigation-bar{
        display: flex;
        justify-content: space-around;
    }
}

/* Large Devices  */
@media screen and (min-width: 993px) and (max-width: 1200px){
    .sidebar{
        display: none;
    }
    .bottom-navigation-bar{
        display: flex;
        justify-content: space-around;
    }
    .content-items p{
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

